.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #e5c236;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  padding: 10px 20px;
  border: 1px solid #fff;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
  z-index: 100;
  top: 0;
  position: sticky; 
}
.cart-item-count{
  font-style: normal;
  color: #000;
  font-size: 16px;
  font-weight: 800;
  line-height: 18px;
  margin-left: 5px;
}
.logs-wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  padding: 10px;
  border-radius: 1000px;
  border: 1px solid #fff;
  gap: 10px;
  flex-shrink: 0;
  background: #fff;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
}
.share-logs {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 1000px;
  margin-left: auto;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  margin-right: 20px;
  display: inline-flex;
  height: 34px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}
.cart-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  height: 34px;
  gap: 5px;
  flex-shrink: 0;
  border-radius: 100px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  padding: 5px 20px;
}
.cart-icon-wrapper {
  display: flex;
  justify-content: center;
  padding: 4.2px 4.4px 5.4px 3.6px;
  align-items: center;
  height: 24px;
  width: 24px;
}

@media screen and (max-width: 640px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    background: #ffe475;
    align-items: center;
    font-style: normal;
    font-size: 10px;
    line-height: 140%;
    font-weight: 700;
    border: 1px solid #fff;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    z-index: 100;
    top: 0;
    position: sticky; 
  } 
  .share-logs {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 1000px;
    margin-left: auto;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin-right: 20px;
    display: inline-flex;
    height: 20px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
  }
  .logs-wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    padding: 10px;
    border-radius: 1000px;
    border: 1px solid #fff;
    background: #fff;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
    gap: 10px;
    flex-shrink: 0;
  }
  .cart-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
    gap: 5px;
    background: #fff;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    flex-shrink: 0;
    border-radius: 100px;
    padding: 5px 20px;
  } 
  .cart-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    padding: 4.2px 4.4px 5.4px 3.6px;
  }
  .cart-item-count{
    font-size: 16px;
    font-weight: 800;
    color: #000;
    margin-left: 5px;
    font-style: normal;
    line-height: 18px;
  }

}